/* Border size */
.border-small {
  border-width: .2px;
}

.border-top-small {
  border-top-width: .2px;
}

.border-right-small {
  border-right-width: .2px;
}

.border-bottom-small {
  border-bottom-width: .2px;
}

.border-left-small {
  border-left-width: .2px;
}

/* Border radius */
.rouned-s {
  border-radius: 8px;
}

.rounded-m {
  border-radius: 12px;
}

.rounded-l {
  border-radius: 16px;
}

/* border style */
.border-dashed {
  border-style: dashed;
}

.border-top-dashed {
  border-top: 1px dashed #ddd;
}

.border-bottom-dashed {
  border-top: 1px dashed #ddd;
}

.border-left-dashed {
  border-top: 1px dashed #ddd;
}

.border-right-dashed {
  border-top: 1px dashed #ddd;
}

.border-dotted {
  border-style: dotted;
}
