/* Font size */

.fs-10 {
  font-size: 0.625rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-48 {
  font-size: 3rem;
}

/* Font weight  */

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: bold !important;
}

/* Display */

/*
 * .display-1 {
  font-size: 80px;
.display-2 { font-size: 70px }

@media (min-width: 576px) {
  .display-1: {
    font-size: 36px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .display-1: {
    font-size: 48px !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .display-1: {
    font-size: 56px !important;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .display-1: {
    font-size: 80px !important;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .display-1: {
    font-size: 93px !important;
  }
}*/

.text-ellipsis-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
